@media (max-width: 1100px) {
    #gallery img {
        width: 100%;
        height: auto;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: black;
    color: white;
}
header {
    background: black;
    padding: 20px;
    text-align: center;
    text-decoration-line: none;
    border-bottom: 2px solid 
}

a{
    color: white;
    margin: 0 15px;
    font-size: 16px;
}

a:hover {
    color: peachpuff;
}
#home {
    text-align: center;
    padding: 60px 20px;
}
#home h2 {
    font-size: 40px;
    margin-bottom: 15px;
}
#home p {
    font-size: 18px;
    margin-bottom: 30px;
}
#home img {
    max-width: 100%;
    border-radius: 10px;
}
#gallery {
    padding: 50px 20px;
    text-align: center;
}
#gallery h2 {
    font-size: 32px;
    margin-bottom: 30px;
}
#gallery img {
    width: 260px;
    height: 180px;
    object-fit: cover;
    margin: 10px;
    border-radius: 8px;
}
#biography {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}
#biography h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
#biography p {
    font-size: 18px;
    color:silver
}
#contact {
    padding: 50px 20px;
    max-width: 600px;
    margin: auto;
}
#contact h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
form label {
    font-size: 14px;
}
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #222;
    border: 1px solid #444;
    color: silver;
    border-radius: 5px;
}
form button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #cfa75f;
    border: none;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
}

form button:hover {
    background: #e6c27a;
}
footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: silver
}


